@layer base {
	html {
		@apply scroll-smooth antialiased;
	}
	body {
		@apply relative grid min-h-screen grid-cols-12 md:overflow-hidden dark:bg-zinc-900 dark:text-zinc-50;
	}
	main {
		@apply col-span-12 flex min-h-screen flex-col md:col-span-8 md:max-h-screen md:overflow-y-scroll;
	}
	/* disallow copying/dragging images */
	img,
	svg,
	picture {
		@apply pointer-events-none select-none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply scroll-m-16;
	}
}
