/* https://atomiks.github.io/tippyjs/v6/themes/ */
@import "tippy.js/dist/svg-arrow.css";
@import "tippy.js/themes/material.css";
@import "tippy.js/animations/scale.css";
@import "tippy.js/animations/shift-toward-extreme.css";

.tippy-box[data-theme~="material"] {
	@apply rounded-md p-1 text-white;
}
