---
import Base from "@layouts/Base.astro";
---

<Base>
	<div class="flex flex-grow items-center justify-center flex-col">
		<i class="icon-[heroicons--face-frown] text-7xl"></i>
		<h1 class="text-4xl">404</h1>
		<h2 class="text-xl uppercase">Page not found</h2>
	</div>
</Base>
