---
import type { PageSectionsVideoContainer } from "@tina-generated/types";
const {
	videos,
	//
} = Astro.props as PageSectionsVideoContainer;

function getId(url: string) {
	const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
	const match = url.match(regExp);

	return match && match[2].length === 11 ? match[2] : null;
}
---

{
	videos?.map((video) => {
		return (
			<div>
				{video?.title}
				{video?.url && (
					<iframe
						width="560"
						height="315"
						class="w-full"
						src={`//www.youtube.com/embed/${getId(video?.url)}`}
						title="YouTube video player"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen
					/>
				)}
			</div>
		);
	})
}
